<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your No :
        <%= diceVal  %>
    </h1>
</body>
</html>

<!-- conditional Statement in EJS -->

<% if(diceVal == 6){ %>
    <h2>Nice !Roll dice again</h2>
<% } %>