<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    <script 
    defer 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-secondary">
      <div class="container">
        <a href="#" class="navbar-brand">Earth Journey.com</a>
        <ul class="navbar-nav text-light ">
          <li class="nav-item ">
            <a href="https://www.gogo-tours.fr/" class="nav-link text-light">Paris</a>
          </li>
          <li class="nav-item">
            <a href="https://www.tourmyindia.com/" class="nav-link text-light">India</a>
          </li>
          <li class="nav-item">
            <a href="https://www.thrillophilia.com/countries/usa/tours" class="nav-link text-light">USA</a>
          </li>
          <li class="nav-item">
            <a href="https://www.touristjapan.com/" class="nav-link text-light">Japan</a>
          </li>
          <li class="nav-item">
            <a href="https://www.topchinatravel.com/" class="nav-link text-light">China</a>
          </li>
          <li class="nav-item">
            <a href="https://visitabudhabi.ae/en" class="nav-link text-light">Dubai</a>
          </li>
        </ul>
        <div class="div-group">
            <button class="btn btn-primary"> Singh Up
        </button>
        <button class="btn btn-dark"> Login
        </button>
        </div>
      </div>
    </nav>

    <div class="conatiner-fluid bg-black d-flex align-items-center justify-content-center" style="height:500px;">
        <h1 class="display-1 text-light  text-center  mx-5 ">Hi Welcome to the platform :)
          Reach to the every corner of the world with Sandeep Sharma and Team 
        </h1>
    </div>

   
   <div class="container d-flex justify-content-evenly my-5">

     <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <img src="../img/pexels-thorsten-technoman-109353-338515.jpg" alt="...">
  <div class="card-body">
    <h5 class="card-title">Paris</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-primary">Book Your Trip</a>
  </div>
</div>

<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <img src="../img/20250815_OHR.SpottedEagleRay_ROW5085410852_UHD_bing.jpg" alt="...">
  <div class="card-body">
    <h5 class="card-title">Maldives</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-primary">Book Your Trip</a>
  </div>
</div>

<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <img src="../img/pexels-shalenderkumar-3574440.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">India-Kasmir</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-primary">Book Your Trip</a>
  </div>
</div>

</div>




   <div class="container d-flex justify-content-evenly my-5">

     <div class="card shadow p-3 mb-5 bg-white rounded rounded" style="width: 18rem;">
  <img src="../img/pexels-chris-schippers-139261-427679.jpg" alt="...">
  <div class="card-body">
    <h5 class="card-title">London</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-primary">Book Your Trip</a>
  </div>
</div>

<div class="card rounded shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <img src="../img/pexels-luisdalvan-1770775.jpg" alt="...">
  <div class="card-body">
    <h5 class="card-title">Time Square </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-primary">Book Your Trip</a>
  </div>
</div>

<div class="card rounded shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <img src="../img/pexels-mikhail-nilov-8319454.jpg" alt="...">
  <div class="card-body">
    <h5 class="card-title">Dubai</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-primary">Book Your Trip</a>
  </div>
</div>

   </div>


   <div class="conatiner-fluid bg-black d-flex align-items-center justify-content-between" style="height:500px;">
        
    <ul class="mx-5">
        <li><h4 class="text-light">countries we cover</h4></li>
        <li class="text-light">INDIA</li>
        <li class="text-light">USA</li>
        <li class="text-light">SWITZERLAND</li>
        <li class="text-light">RUSSIA</li>
        <li class="text-light">NEPAL</li>
    </ul>

    <ul class="mx-5">
        <li><h4 class="text-light">package</h4></li>
        <li class="text-light">solo</li>
        <li class="text-light">family trip</li>
        <li class="text-light">friendtrip</li>
    
    </ul>

    <ul  class="mx-5">
        <li><h4 class="text-light">contact us</h4></li>
        <li class="text-light">+91-912345678</li>
        <li class="text-light">Insta</li>
        <li class="text-light">Facebook</li>
        <li class="text-light">Twitter</li>
        <li class="text-light">Youtube</li>
    </ul>

    <ul  class="mx-5">
        <li><h4 class="text-light">Help</h4></li>
        <li class="text-light">Cancellation</li>
        <li class="text-light">Package</li>
        <li class="text-light">Travel Agent</li>
      
    </ul>   

    </div>


</body>
</html>