
h1{
    color: maroon;
}
.post{
    background-color: aquamarine;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
}
.user{
    font-style: italic;
}
.content{
    margin: 10px;
    
}



